{% extends "view.template.html" %}

{%- from 'tables.html' import render_full_invoices_table with context %}

{% block scripts %}
<script src="{{url_for('static', filename='invoices.js')}}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{{super()}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="active nav">
                    <a href="{{url_for('clients')}}">Clients</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nav">
                    <a href="{{url_for('active_jobs')}}">Jobs</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nav">
                    <a href="{{url_for('render_default_invoice')}}">Invoices</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>
    Invoices - Tax Year {{year['start']}}/{{year['end']}}
    </h1>

    {{ render_full_invoices_table(invoices) }}

    <div>
        <h2>Totals</h2>
        <p><span class="strong">Gross: </span>{{"£%.2f" | format(totals.Gross)}}</p>
        <p><span class="strong">Tax: </span>{{"£%.2f" | format(totals.Tax)}}</p>
        <p><span class="strong">Net: </span>{{"£%.2f" | format(totals.Net)}}</p>
        <p><span class="strong">To Transfer: </span>{{"£%.2f" | format(totals.ToTransfer)}}</p>
    </div>
</div>

{% endblock %}
