{% extends "view.template.html" %}

{% block jscript %}
<script src="{{url_for('static', filename='invoices.js')}}"></script>
{% endblock %}

{% block nav %}
    <div id="left_nav" class="inactive_nav">
        <a href="{{url_for('clients')}}">Clients</a>
    </div>
    <div id="mid_nav" class="inactive_nav">
        <a href="{{url_for('active_jobs')}}">Jobs</a>
    </div>
    <div id="right_nav" class="active_nav">
        <a href="{{url_for('invoices')}}">Invoices</a>
    </div>
{% endblock %}

{% block content %}

<h1>
Invoices
</h1>


<table class="sortable">
<tr><th>Client</th><th>Date</th><th>Amount</th><th>Tax</th><th>Payment State</th></tr>
{% for invoice in invoices %}

<tr>
    <td>{{invoice.get_client_name()}}</td>
    <td sorttable_customkey={{get_sort_key(invoice.date())}}>{{invoice.format("%d %b %Y")}}</td>
    <td>{{invoice.get_total_str()}}</td>
    <td>{{invoice.get_tax_str()}}</td>
    <td>
        <select class="inv_state" id="{{invoice.ClientID}}{{invoice.date().timestamp() | int}}"
        onchange="onInvoiceStateChange('{{invoice.ClientID}}', {{invoice.date().timestamp() | int}}, {{invoice.num()}})">
            {% for state in get_invoice_states() %}
                <option value="{{state}}" {% if state == invoice.state_string() %}selected{% endif %}>
                        {{state}}
                </option>
            {% endfor %}
        </select>
    </td>
</tr>

{% endfor %}
</table>

<div>
<h2>Totals</h2>
<p><span class="strong">Gross: </span>{{"£%.2f" | format(totals.Gross)}}</p>
<p><span class="strong">Tax: </span>{{"£%.2f" | format(totals.Tax)}}</p>
<p><span class="strong">Net: </span>{{"£%.2f" | format(totals.Net)}}</p>
</div>

{% endblock %}
