{% extends "view.template.html" %}

{%- from 'forms.html' import render_new_job_form, render_new_oneoff_form with context %}
{%- from 'tables.html' import render_jobs_table, render_oneoffs_table, render_invoices_list with context %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="nav">
                    <a href="{{url_for('clients')}}">Clients</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="active nav">
                    <a href="{{url_for('active_jobs')}}">Jobs</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nav">
                    <a href="{{url_for('render_default_invoice')}}">Invoices</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7">

			<h1>{{job_info.title}}</h1>

			{% if job_info.jobs|length > 0 %}
			    {{ render_jobs_table(job_info) }}
			{% endif %}

			{% if job_info.client_has_jobs %}
				{% if job_info.active_only %}
					{% if job_info.client %}
						<a href="{{url_for('all_jobs_for_client',ClientID=job_info.client.ClientID)}}">Show all jobs for {{ job_info.client.Name }}</a>
					{% else %}
						<a href="{{url_for('all_jobs')}}">Show all jobs</a>
					{% endif %}
				{% else %}
					{% if job_info.client %}
						<a href="{{url_for('active_jobs_for_client',ClientID=job_info.client.ClientID)}}">Hide inactive jobs</a>
					{% else %}
						<a href="{{url_for('active_jobs')}}">Hide inactive jobs</a>
					{% endif %}
				{% endif %}
			{% endif %}

			{% if job_info.oneoffs|length > 0%}
			    {{ render_oneoffs_table(job_info) }}
			{% endif %}
    	</div>
        <div class="col-md-5">
			{% if invoices is defined %}
			    {{ render_invoices_list(invoices) }}
			{% endif %}
		</div>
	</div>

	<div class="row">
	    <div class="col-md-6">
			{{ render_new_job_form(get_all_clients(), job_info) }}
		</div>
		<div class="col-md-6">
			{{ render_new_oneoff_form(get_all_clients(), job_info) }}
		</div>
	</div>

	{% if g.tasks_to_add is defined %}
	<div id="trellotasks">
	<h1>
	    Add tasks from Trello 
	</h1>
	<ul>
	{% for task in g.tasks_to_add %}
		{% if task.result == True %}
		<li><a href="{{task.href}}">{{task.text}}</a></li>
		{% else %}
		<li>Parse of <strong>'{{task.original}}'</strong> failed ({{task.error}})</li>
		{% endif %}
	{% endfor %}
	</ul>
	</div>
	{% endif %}
</div>
{% endblock %}

