@media print {

	#letterhead {
		margin: auto;
		padding-top : 1cm;
	}

	#letterhead_img_div {
		width: 65%;
		float:left;
	}

	#letterhead_img {
		width:100%;
		padding-top:0.1cm;
	}

	#my_addr {
		margin-left: 70%;
	}

	body {
		font-family: sans;
	}


	div p {
		margin: 0.5cm;
	}

	div#payment_details {
		page-break-before: auto;
	}

	td, th {
		padding-left: 0.1cm;
		padding-right: 0.1cm;
		border-collapse: collapse;
		font-size: 11pt;
	}

	td.ra {
        text-align:right;
	}

	th {
		border-bottom: double;
	}

	@page {
		margin: 1cm;
	}

	span.strong {
		font-weight: bold;
	}

	img#sig {
		width: 20%;
		padding-top: 1cm;
		padding-bottom: 1cm;
	}

	p {
		line-height: 150%;
	}

	p.indent {
	    padding-left: 2em;
	}

}
