body {
        padding-top: 100px;
        background-color: #c2d1f0;
}

div.navbar div.nav {
        background-color: #84a3e1;
        padding:15px;
        font-size: 1.5em;
}

div.navbar div.active {
        background-color: #234790;
}

div.navbar {
        padding-top: 30px;
}
